# Airflow
airflow/logs/
airflow/.env

# Python
.venv/
__pycache__/
*.pyc

# dbt
airflow/walmart_project/target/
airflow/walmart_project/dbt_packages/

# Secrets
airflow/walmart_project/profiles.yml

# dbt logs
logs/